<div>
  <h2 id="page-heading" data-cy="ConfiguracaoUsuarioHeading">
    <span jhiTranslate="convergenciaApp.configuracaoUsuario.home.title">Configuracao Usuarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="convergenciaApp.configuracaoUsuario.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-configuracao-usuario"
        [routerLink]="['/configuracao-usuario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="convergenciaApp.configuracaoUsuario.home.createLabel"> Criar novo Configuracao Usuario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="configuracaoUsuarios?.length === 0">
    <span jhiTranslate="convergenciaApp.configuracaoUsuario.home.notFound">Nenhum Configuracao Usuario encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="configuracaoUsuarios && configuracaoUsuarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cpf">
            <div class="d-flex">
              <span jhiTranslate="convergenciaApp.configuracaoUsuario.cpf">Cpf</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="convergenciaApp.configuracaoUsuario.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let configuracaoUsuario of configuracaoUsuarios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/configuracao-usuario', configuracaoUsuario.id, 'view']">{{ configuracaoUsuario.id }}</a>
          </td>
          <td>{{ configuracaoUsuario.cpf }}</td>
          <td jhiTranslate="{{ 'convergenciaApp.Status.' + configuracaoUsuario.status }}">{{ configuracaoUsuario.status }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/configuracao-usuario', configuracaoUsuario.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/configuracao-usuario', configuracaoUsuario.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(configuracaoUsuario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
